@page "/"

<div class="row text-center mt-4">
    <div class="col-6 offset-3">
        <div class="row">
            <div class="col-10">
                <img class="mt-2" src="XtractFlow-API.svg"/>
            </div>

        </div>

        <pre>
 
   _____            _   _                             
  / ____|          | | (_)                            
 | (___   ___  _ __| |_ _ _ __   __ _                 
  \___ \ / _ \| '__| __| | '_ \ / _` |                
  ____) | (_) | |  | |_| | | | | (_| |                
 |_____/ \___/|_|   \__|_|_| |_|\__, |           _    
                                 __/ |          | |   
  _ __   __ _ _ __   ___ _ ____ |___/_____  _ __| | __
 | '_ \ / _` | '_ \ / _ \ '__\ \ /\ / / _ \| '__| |/ /
 | |_) | (_| | |_) |  __/ |   \ V  V / (_) | |  |   .
 | .__/ \__,_| .__/ \___|_|    \_/\_/ \___/|_|  |_|\_\
 | |         | |                                      
 |_|         |_|                                      
           _ _   _       _      ______      ________  
          (_) | | |     | |    / __ \ \    / /  ____| 
 __      ___| |_| |__   | |   | |  | \ \  / /| |__    
 \ \ /\ / / | __| '_ \  | |   | |  | |\ \/ / |  __|   
  \ V  V /| | |_| | | | | |___| |__| | \  /  | |____  
   \_/\_/ |_|\__|_| |_| |______\____/   \/   |______| 
                                                      
                                                      

</pre>
        <div class="row">
            <NavLink href="/component-designer" class="btn btn-primary btn-lg btn-icon-split mt-4 p-2">
                <span class="text">Start Demo</span>
            </NavLink>
        </div>

    </div>
</div>